body{border-radius:10px;}
.div{
	background-image: url("jefes.jpg");
	background-repeat: no-repeat;
        border-radius:10px;
}
.color{color: white;}
header{
	border:solid black 1px;
	border-radius: 5px;

}
header img { margin:10px;}
header,nav ul{
	display: flex;
	flex-direction: row;	
	background-color:#edebd6 ;	

}

h1{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
h4{
	font-family: 'Open Sans', sans-serif;
	margin:10%;
}
nav{
	margin: auto;
	padding: auto;
}
nav ul li{
	padding: 10px;
	list-style: none;
	color: black; 
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
nav ul li a{

	color: black;
	text-decoration: none;
	font-size: 1.5rem;
	}
nav ul li a:hover{
	background-color: #C2BD86;
	color: white;
}

img{width:200px;}
footer{
	background-color: black;
    padding:10px;
    margin-top: 10px;
    color: white;
    bottom: 0;
   
     }	
.img{   border-radius:10px;
	margin: 10px;
	width:100px;
}  
.center{
text-align: center;
}   
/*Formulario de contacto*/

form{
	background-color: lightblue;
	width: 30%;
	margin: auto;
	margin-top: 10px;
	border-radius: 10px;
	border:solid black 1px;


	}
form ul{
	list-style: none;
	margin: auto;
}
form ul li{
	padding: 10px;

}
input,textarea{
	background-color: lightblue;
	border-radius: 10px;
	border:solid lightgrey 3px;
	font-size: 1rem;
	width: 80%;

}
input[type="submit"]{
	width: 60%;
	margin-left:20%;

	transition: 2s;
	
}
input[type="submit"]:hover{
	background-color: blue;
}
@media (max-width:576px) {
	body{
		width: 100%
	} 
	form{width: 100%;
		margin: 0;
	} 
	
	}
@media (max-width: 768px) {
	body{
		width: 100%
	}  
	form{
		width: 80%;
		margin: 10%;
		} 

	}
@media (max-width: 992px) { form{width: 80%;margin: 10%;}}
